.task {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    cursor: pointer;
}


/* -----check-list--------- */

.checkbox {
    display: none;

    &:checked~.task__circle_check::after {
        background-color: $blue;
    }
    &:checked~.task__text{
        opacity: 0.7;
    }
}

.task__circle {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin-right: 14px;
    display: block;
    line-height: 21px;
    
    &_check {
        border: 2px solid $light-grey;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 50%;
            top: 3px;
            left: 3px;
            transition: all 0.1s linear 0s;
        }
    }

    /* -----del-task------- */

    &_del-task {
        background: $red;
        text-align: center;
        transition: all 0.3s linear 0s;
        
        &::after {
            content: '-';
            color: $white;
            font-weight: 600;
        }
    }
}


